<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- ConnServlet-->
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <!-- LoginServlet-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- RegisterServlet-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <!-- EditServlet-->
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <!--ChangePasswordServlet-->
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>uts.isd.controller.ChangePasswordServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <!--SearchLogServlet-->
    <servlet>
        <servlet-name>SearchLogServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchLogServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchLogServlet</servlet-name>
        <url-pattern>/SearchLogServlet</url-pattern>
    </servlet-mapping>
    <!--SearchUserServlet-->
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <!--UpdateServlet-->
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <!--UpdateCartProductServlet-->
    <servlet>
        <servlet-name>UpdateCartProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateCartProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartProductServlet</servlet-name>
        <url-pattern>/UpdateCartProductServlet</url-pattern>
    </servlet-mapping>
    <!--DeleteServlet-->
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <!--StatusServlet-->
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>uts.isd.controller.StatusServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/StatusServlet</url-pattern>
    </servlet-mapping>
    <!--AddUserServlet-->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddUserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <!--AddProductServlet-->
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <!--DeleteServlet-->
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <!--UpdateProductServlet-->
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <!--SearchProductServlet-->
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <!--SearchCartProductServlet-->
    <servlet>
        <servlet-name>SearchCartProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchCartProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCartProductServlet</servlet-name>
        <url-pattern>/SearchCartProductServlet</url-pattern>
    </servlet-mapping>
    <!--SaveOrderServlet-->
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SaveOrderServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <!--SearchOrderServlet-->
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchOrderServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/SearchOrderServlet</url-pattern>
    </servlet-mapping>
    <!--CustomerSearchProductServlet-->
    <servlet>
        <servlet-name>CustomerSearchProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.CustomerSearchProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerSearchProductServlet</servlet-name>
        <url-pattern>/CustomerSearchProductServlet</url-pattern>
    </servlet-mapping>
    <!--ProductCartServlet-->
    <servlet>
        <servlet-name>ProductCartServlet</servlet-name>
        <servlet-class>uts.isd.controller.ProductCartServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductCartServlet</servlet-name>
        <url-pattern>/ProductCartServlet</url-pattern>
    </servlet-mapping>
    <!--UpdateOrderProductServlet-->
    <servlet>
        <servlet-name>UpdateOrderProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderProductServlet</servlet-name>
        <url-pattern>/UpdateOrderProductServlet</url-pattern>
    </servlet-mapping>
    <!--SearchOrderProductServlet-->
    <servlet>
        <servlet-name>SearchOrderProductServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchOrderProductServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchOrderProductServlet</servlet-name>
        <url-pattern>/SearchOrderProductServlet</url-pattern>
    </servlet-mapping>
    <!--AddPaymentServlet-->
    <servlet>
        <servlet-name>AddPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPaymentServlet</servlet-name>
        <url-pattern>/AddPaymentServlet</url-pattern>
    </servlet-mapping>
    <!--EditPaymentServlet-->
    <servlet>
        <servlet-name>EditPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPaymentServlet</servlet-name>
        <url-pattern>/EditPaymentServlet</url-pattern>
    </servlet-mapping>
    <!--DeletePaymentServlet-->
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeletePaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <!--SearchPaymentServlet-->
    <servlet>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchPaymentServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchPaymentServlet</servlet-name>
        <url-pattern>/SearchPaymentServlet</url-pattern>
    </servlet-mapping>
    <!--SubmitOrderServlet-->
    <servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>uts.isd.controller.SubmitOrderServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/SubmitOrderServlet</url-pattern>
    </servlet-mapping>
    <!--SearchRecordServlet-->
    <servlet>
        <servlet-name>SearchRecordServlet</servlet-name>
        <servlet-class>uts.isd.controller.SearchRecordServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRecordServlet</servlet-name>
        <url-pattern>/SearchRecordServlet</url-pattern>
    </servlet-mapping>
    <!--Controller below -->
    <!-- ProfileController-->
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>uts.isd.controller.ProfileController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <!-- LogoutController-->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <!-- WelcomeController-->
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>uts.isd.controller.WelcomeController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/WelcomeController</url-pattern>
    </servlet-mapping>
    <!-- AccountListController-->
    <servlet>
        <servlet-name>AccountListController</servlet-name>
        <servlet-class>uts.isd.controller.AccountListController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountListController</servlet-name>
        <url-pattern>/AccountListController</url-pattern>
    </servlet-mapping>
    <!-- ChangePasswordController-->
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>uts.isd.controller.ChangePasswordController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <!-- EditController-->
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>uts.isd.controller.EditController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <!-- LogsController-->
    <servlet>
        <servlet-name>LogsController</servlet-name>
        <servlet-class>uts.isd.controller.LogsController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogsController</servlet-name>
        <url-pattern>/LogsController</url-pattern>
    </servlet-mapping>
    <!-- UpdateController-->
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <!-- AddUserController-->
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>uts.isd.controller.AddUserController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/AddUserController</url-pattern>
    </servlet-mapping>
    <!-- UnAuthorisedController-->
    <servlet>
        <servlet-name>UnAuthorisedController</servlet-name>
        <servlet-class>uts.isd.controller.UnAuthorisedController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnAuthorisedController</servlet-name>
        <url-pattern>/UnAuthorisedController</url-pattern>
    </servlet-mapping>
    <!-- ProductListController-->
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>uts.isd.controller.ProductListController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <!-- AddProductController-->
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>uts.isd.controller.AddProductController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <!--UpdateProductController-->
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <!--ProductCartController-->
    <servlet>
        <servlet-name>ProductCartController</servlet-name>
        <servlet-class>uts.isd.controller.ProductCartController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductCartController</servlet-name>
        <url-pattern>/ProductCartController</url-pattern>
    </servlet-mapping>
    <!--OrderController-->
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>uts.isd.controller.OrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <!--UpdateOrderController-->
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateOrderController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <!--UserPaymentController-->
    <servlet>
        <servlet-name>UserPaymentController</servlet-name>
        <servlet-class>uts.isd.controller.UserPaymentController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPaymentController</servlet-name>
        <url-pattern>/UserPaymentController</url-pattern>
    </servlet-mapping>
    <!--AddPaymentController-->
    <servlet>
        <servlet-name>AddPaymentController</servlet-name>
        <servlet-class>uts.isd.controller.AddPaymentController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPaymentController</servlet-name>
        <url-pattern>/AddPaymentController</url-pattern>
    </servlet-mapping>
    <!--EditPaymentController-->
    <servlet>
        <servlet-name>EditPaymentController</servlet-name>
        <servlet-class>uts.isd.controller.EditPaymentController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPaymentController</servlet-name>
        <url-pattern>/EditPaymentController</url-pattern>
    </servlet-mapping>
    <!--PaymentRecordController-->
    <servlet>
        <servlet-name>PaymentRecordController</servlet-name>
        <servlet-class>uts.isd.controller.PaymentRecordController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentRecordController</servlet-name>
        <url-pattern>/PaymentRecordController</url-pattern>
    </servlet-mapping>
    
    <!--DeleteUserController-->
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteUserController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
